.overviewmap {
    color: #f3f3f3;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: right;
}

.overviewmap-div {
    float: right;
}

.overviewmap > .glyphicon {
    cursor: pointer;
    font-size: 22px;
    padding: 5px 7px 6px 5px;
}

.ol-custom-overviewmap,
      .ol-custom-overviewmap.ol-uncollapsible {
        bottom: 30px;
        left: auto;
        right: 49px;
        top: auto;
      }

      .ol-custom-overviewmap:not(.ol-collapsed)  {
        border: 0px solid black;
      }

      .ol-custom-overviewmap .ol-overviewmap-map {
        border: none;
        width: 200px;
      }

      .ol-custom-overviewmap .ol-overviewmap-box {
        border: 2px solid rgb(182, 0, 0);
      }

      .ol-custom-overviewmap:not(.ol-collapsed) button{
        bottom: 1px;
        left: auto;
        right: 1px;
        top: auto;
      }
